<div class="container">
  <h2>{{recipe.RecipeName}} <span *ngIf="devMode === true">Id: {{recipe.Id}}</span> </h2>
  <p *ngIf="recipe.DurationTime !== null && recipe.DurationUnit !== null">Zeit: {{recipe.DurationTime}} {{recipe.DurationUnit}}</p>
  <h3>Zutaten</h3>
  <table mat-table [dataSource]="recipe.Ingredients" style="border:1pt; border-style: dotted">
    <ng-container matColumnDef="id">
      <th mat-header-cell  *matHeaderCellDef *ngIf="devMode === true">ID</th>  
      <td mat-cell *matCellDef="let ingredient" *ngIf="devMode === true">{{ingredient.Id}}</td>  
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Menge </th>
      <td mat-cell *matCellDef="let ingredient">
      <div *ngIf="ingredient.Amount; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <span>{{ingredient.Amount}}</span>
      </ng-template>
      <ng-template #elseBlock>
          <span>{{ingredient.Measure}} {{ingredient.Unit.UnitName}}</span>
      </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Zutat </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.IngredientName}} </td>
    </ng-container>
  </table>
  
  <h3>Zubereitung</h3>
  <mat-list *ngFor="let step of recipe.Steps">
    <mat-list-item><span *ngIf="devMode === true">Id: {{step.Id}} - </span>{{step.Description}}</mat-list-item>
  </mat-list>
</div>