<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="fusekiURI" value="https://fuseki.voiding-warranties.de/cookpot-owl/data" />
        <add key="generalNamespace" value="http://voiding-warranties.de/cookpot/1.0#" />
        <add key="dishNamespace" value="http://voiding-warranties.de/cookpot/1.0/Dishes" />
        <add key="graphURI" value="" />
    </appSettings>
</configuration>